{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
<form action="/" method="POST">
  <div class="form-group row">
    <div class="col-sm-3">
      <input name="title" type="text" class="form-control" placeholder="Title">
    </div>
    <div class="col-sm-1">
      <button name="add" type="submit" class="btn btn-primary">Add</button>
    </div>
  </div>
</form>

<div id="allItems">
  <div id="toDoItems" class="row">
    <div class="col-md-12">
        <h4>To do</h4>
        {% with items=view_model.to_do_items, user_is_writer=view_model.user_is_writer %}
            {% include 'item_list.html' %}
        {% endwith %}
    </div>
  </div>

  {% if view_model.show_all_completed_items %}
    <div id="completedItems" class="row">
      <div class="col-md-12">
          <h4>Completed</h4>
          {% with items=view_model.completed_items, user_is_writer=view_model.user_is_writer %}
              {% include 'item_list.html' %}
          {% endwith %}
      </div>
    </div>
  {% else %}
    <div id="completedItems" class="row">
      <div class="col-md-12">
          <h4>Completed today</h4>
          {% with items=view_model.recent_completed_items, user_is_writer=view_model.user_is_writer %}
              {% include 'item_list.html' %}
          {% endwith %}
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
          <h4>Completed before today</h4>
          <details>
              <summary>Show/hide...</summary>
              {% with items=view_model.older_completed_items, user_is_writer=view_model.user_is_writer %}
                  {% include 'item_list.html' %}
              {% endwith %}
          </details>
      </div>
    </div>
  {% endif %}
</div>

{% endblock %}