{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
<form action="/" method="POST">
  <div class="form-group row">
    <div class="col-sm-3">
      <input name="title" type="text" class="form-control" placeholder="Title">
    </div>
    <div class="col-sm-1">
      <button type="submit" class="btn btn-primary">Add</button>
    </div>
  </div>
</form>

{% with items=view_model.to_do_items, title='To Do' %}
  {% include 'item_list.html' %}
{% endwith %}

{% with items=view_model.completed_items, title='Done' %}
  {% include 'item_list.html' %}
{% endwith %}

{% endblock %}